<!DOCTYPE html>

<head>
<title>Login</title>
<link rel="icon" href="ps32.gif" type="image/gif" sizes="32x32">

</head>
<link rel="stylesheet" href="main.css">
<body onload="myLoad()" style="font-family:arial;">

  <div class="row">
		<div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 24px; text-align: left; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">
			<img src="PequaSoft.png" alt="Forest" style="width:125px">
		</div>
		<div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 24px; text-align: center; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">
		  <strong>Login</strong>
		</div>
		<div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 16px; text-align: right; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">

		</div>
	</div> 

  <br><br><br>
  
	<fieldset>
		<legend>Login</legend>

		<div style="float: left; width: 100px;" >	
		<label style="color: black; font-family: arial;">User ID: </label><br /><br />
		<label style="color: black; font-family: arial;">Password: </label>
		</div>
		<form action="/login" method="POST" id="myLoginForm">
		<div style="float: left; width: 150px;" >	
		<input type="text" size="40" placeholder="Type your userid" id="userid" name="userid" onkeyup="seteuserid()"><br /><br />
		<input type="password" size="40" placeholder="Type your password" id="password" name="password" ><br />
		</div>
		<br><br><br><br>
	   </form>
		<div class="btn-group" style="float: left; width: 200px;" >	
		<button class="buttony button2" style="float: left; width: 150px;" type="submit" onclick="mySubmit()" >Submit</button>
		</div>
		</legend>
	</fieldset>
  
<br>  
<div align="center" class="btn-group" style="float: left; width: 500px;" >	
	<button id="GoToNewAccout" class="buttony button2" style="width: 180px;" onclick="window.location.href='/NewAccount'" ><strong>Add New Account</strong></button><br><br><br>
</div>
<br><br><br><br><br><br>
<div align="center" style="border:1px solid red; width: 500px; " hidden>	
	<button id="GoToNewAccout" class="buttony button2" style="width: 180px; background-color: #4CAF50; border: 1px solid #4CAF50; " onclick="window.location.href='/NewAccount'" ><strong>Add New Account</strong></button><br><br><br>
  
</div>		

<div align="center" style="width: 500px; " >	
	<button id="LoginAsGuest" class="buttony button2" style="width: 240px; height: 60px;background-color: red;  font-size: 18px; border: 1px solid red;" onclick="myGuestSubmit()" ><strong><<< Login As Guest >>></strong></button>
</div>

</body>


<script>

function myLoad() {

  sessionStorage.userid = "--";
  sessionStorage.password = "--";
  
}

  function mySubmit() {

    var x=document.getElementById("userid").value;
    var y=document.getElementById("password").value;

    sessionStorage.userid = x;
    sessionStorage.password = y;
    
    //alert(x);
	//alert(y);

    document.getElementById("myLoginForm").submit();
  }

  function seteuserid() {
 var input;

  input = document.getElementById("userid");
  //email = input.value;
  //sessionStorage['myemail'] = input.value;
  //document.cookie = "username=John Doe";
  
  sessionStorage.userid = input.value;
  //alert(sessionStorage.email);
}

function myGuestSubmit() {

document.getElementById("userid").value='guest';
document.getElementById("password").value='guest';

var x=document.getElementById("userid").value;
var y=document.getElementById("password").value;

sessionStorage.userid = x;
sessionStorage.password = y;

//alert('click');

document.getElementById("myLoginForm").submit();
}

function seteuserid() {
var input;

input = document.getElementById("userid");

sessionStorage.userid = input.value;

}

</script>
  

</html>



