<!DOCTYPE html>

<head>
<title>Admin</title>
<link rel="icon" href="ps32.gif" type="image/gif" sizes="32x32">

</head>
<link rel="stylesheet" href="main.css">
<body onload="myLoad()" style="font-family:arial;">

<div class="row">
  <div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 24px; text-align: left; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">
    <img src="PequaSoft.png" alt="Forest" style="width:125px">
  </div>
  <div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 24px; text-align: center; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">
    <strong>Loan Already Exists</strong>
  </div>
  <div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 16px; text-align: right; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">

  </div>
</div> 
<br><br><br><br><br><br>
 
 <div align="center" style="border:1px solid black; padding: 10px; height: 60px; " >
 
    <form action="/LoanMaster" method="POST" id="myMenuForm">
          <input type="text" size="40" placeholder="Type your userid" id="userid" name="userid" hidden>
      <button id="GoToLoanMaster" class="buttony button3 style="float: left; width: 500px; " onclick="goToLoanMaster()" ><strong>Loan Master</strong></button>
    </form>

    </div>

</body>


<script>
function myLoad() {

var msg = document.getElementById("GoToLoanMaster");

msg.innerHTML = sessionStorage.newloan + ' Loan already exists';
document.getElementById("userid").value=sessionStorage.userid;

}
 </script>
  

</html>



