<!DOCTYPE html>

<html>

<head>
<title>Main Menu</title>
<link rel="icon" href="ps32.gif" type="image/gif" sizes="32x32">

</head>
<link rel="stylesheet" href="main.css">
<body onload="myLoad()" style="font-family:arial;">
  
<div class="row">
  <div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 24px; text-align: left; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">
    <img src="PequaSoft.png" alt="Forest" style="width:125px">
  </div>
  <div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 24px; text-align: center; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">
    <strong>Main Menu</strong>
  </div>
  <div class="column" style="border-top: 1px solid #ddd;font-family: arial; font-size: 16px; text-align: right; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">
    <label style="color: blue" >User ID: </label><label id="viewUID" style="color: black" >...</label>
  </div>
</div>


  <div style="height:35px; background-color:#000080; padding: 2px 5px 2px 5px;" >
    <button id="GoToBackOffice" class="buttony button4" style="float: left; width: 250px; margin-right: 25px;" onclick="window.location.href='/Quickcalculator'" ><strong>Quick Loan Calculator</strong></button>
    <form action="/LoanMaster" method="POST" id="myMenuForm">
      <input type="text" size="40" placeholder="Type your userid" id="userid" name="userid" hidden>
      <button id="GoToBackOffice" class="buttony button4" style="float: left; width: 250px; " onclick="goToLoanMaster()" ><strong>Loan Master</strong></button>
    </form>
  </div>

  <br> <br> <br>
  <div hidden>
    <label style="color: blue" >User ID: </label><label id="viewUID2" style="color: black" >...</label>
    <label style="color: blue" >User Pwd: </label><label id="viewPWD" style="color: black" >...</label><
  </div>
  
  

<fieldset>
  <legend>Quick Calculator:</legend>
<button id="GoToBackOffice" class="buttony button4" style="float: left; width: 250px; margin-right: 25px; font-size: 18px;" onclick="window.location.href='/Quickcalculator'" ><strong>Quick Loan Calculator</strong></button>
<br> <br> 
This is an application that can calculate various loan data including payment, principal, rate and number of payments. Just enter the loan data that you know and the calculator will solve for the unknown.

</fieldset>
</form>

<br> <br> <br> <br> 
<fieldset>
  <legend>Loan Master:</legend>
<button id="GoToBackOffice" class="buttony button4" style="float: left; width: 250px; font-size: 18px;" onclick="goToLoanMaster()" ><strong>Loan Master</strong></button>
<br> <br> 
This is an application that can calculate loan payment, interest, amortization and remaining balance tables . Just enter the loan data including: balance, rate, start date and number of payments and this application can calculate the appropriate output tables.

</fieldset>
</form>


<script src="accounting.js"></script>

<script>

var table;

table = document.getElementById("myTable_1");

var i,m,buff;

var pattern = /(-?\d+)(\d{3})/;

function myFunction() {

  var input, filter, table, tr, td, i, x;

  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();

  x=document.getElementById("viewOption").innerHTML;

  if (x == 'Collapse'){
    table = document.getElementById("myTable_1");}
    else{
    table = document.getElementById("myTable_2");
    }

  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }      
  }
}

function myLoad() {


var x=document.getElementById("viewUID").innerHTML=sessionStorage.userid;
var x2=document.getElementById("viewUID2").innerHTML=sessionStorage.userid;
document.getElementById("userid").value=sessionStorage.userid;


if (typeof x === "undefined") {
  window.location.replace("/entry")};

  if (typeof x == "--") {
  window.location.replace("/entry")};
}

function goToLoanMaster() {

  //window.location.replace("/LoanMaster");
  document.getElementById("myMenuForm").submit();

}
 

function setViewOption() {

//alert("Collapse");

//var x,y,z = sessionStorage.test1;

table1 = document.getElementById("myTable_1");
table2 = document.getElementById("myTable_1");

 x=document.getElementById("viewOption").innerHTML;

if (x == 'Collapse'){
	x = 'Expand';
	table1.style.display = "none";
	table2.style.display = "Block";
	} else{
	x = 'Collapse';
	table2.style.display = "none";
	table1.style.display = "Block";
	};

 document.getElementById("viewOption").innerHTML=x;


}

function myFunction(x) {

var cell_1 = x.getElementsByTagName("td")[0];
var cell_2 = x.getElementsByTagName("td")[1];
var cell_3 = x.getElementsByTagName("td")[2];
var cell_4 = x.getElementsByTagName("td")[3];
var cell_5 = x.getElementsByTagName("td")[4];


var id = cell_1.innerHTML;

//var balance = accounting.unformat(cell_2.innerHTML);
var balance = cell_2.innerHTML;
balance = balance.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

var rate = cell_3.innerHTML;
rate =  Number(rate).toFixed(4);    // rate.toFixed(4)
//).toFixed(4)
//rate = rate.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

// Number(1234.5678).toFixed(4);

var numpmts = cell_4.innerHTML;
var pmt = cell_5.innerHTML;
//alert("id: " + id);
//  alert("Row index is: " + x.rowIndex);

document.getElementById("loanid").innerHTML=id;
document.getElementById("balance").innerHTML=balance;
document.getElementById("rate").innerHTML=rate;
document.getElementById("numpmts").innerHTML=numpmts;
document.getElementById("pmt").innerHTML=pmt;

}

</script>

 

<style>

#myTable_1 tr:hover {

  background-color: #7979d2;

  color: white;

}

</style>

 

</body>

</html>

 